html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

$white: #FFFFFF;
$lwhite: #B0BEC5;
$blue: #5DBBFD;
$lblue: #0B8DFF;
$orange: #FFA47D;
$red: #FF7D7D;
$fade: #B0BEC5;
$mfade: #BAC3CC;
$lfade: #F2F5F5;
$yellow: #FFE030;
$dark: #233332;
$gold: #D5BF8C;
$rose: #FDCDD3;

$phone-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin phone {
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

body {
	background: $lfade url("img/pattern.png");
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}

@mixin animation($element,$time,$ease) {
    webkit-transition: $element $time $ease;
    -moz-transition: $element $time $ease;
    -o-transition: $element $time $ease;
    transition: $element $time $ease;
}

a {
	&:hover {
		cursor: pointer;
	}
}

.login {
	width: 300px;
	margin: 0 auto;
	background-color: $white;
}

.img-max {
	width: 100%;
}

.sub {
	color: $mfade;
}

.blue {
	color: $blue;
}

.count {
	margin-right: 10px;

	&--blue {
		color: $blue;
	}
}

.dashboard {

	&__header {
		background: $white;
		padding: 30px 0;
		text-align: center;
		margin-bottom: 5px;
	}

	&__content {
		display: flex;
		width: 100%;
		max-width: 1140px;
		margin: 0 auto;
		min-height: 250px;
		justify-content: flex-start;
		align-items: stretch;
		align-content: stretch;
	}

}

.dashboard-grid {

	display: flex;
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	min-height: 250px;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;

	&__column {
		flex: 1;
		display: flex;
	}

	&__column-half {
		width: 50%;
		display: flex;
	}

	&__column-grid {
		flex: 1;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	&__image {
		position: relative;
		overflow: hidden;

		img {
			width: 100%;
		}
	}

	&--nest {
		background-color: $white;
		margin: 5px;
		padding: 20px;
		flex: 1;
	}

	&--dark {
		background-color: $dark;
		color: $white;
	}

}

.view {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	height: 100%;

	&--white {
		background-color: $white;
	}

}

.guest {
	display: flex;

	&__column {
		flex: 1;
	}

	&--column {
		flex-direction: column;
	}

	&__edit {
		text-align: right;
		a {
			color: $fade;
			margin-left: 10px;
		}
	}
	
}

.event {

	&__title {
		margin-top: 0;
	}

	&__single {
		border: 2px solid $lfade;
		border-radius: 5px;

		&.active {
			border-color: $gold;
		}

		&.not {
			border-color: $rose;
		}

	}

	&__attending {

		&-icon {
			text-align: right;
			color: $gold;

			i {
				font-size: 24px !important;
			}
		}

	}

	&__nattending {

		&-icon {
			text-align: right;
			color: #FF7D7D;

			i {
				font-size: 24px !important;
			}
		}

	}

	&--attending {
		color: $gold;
	}

	&--nattending {
		color: #FF7D7D;
	}

}

.cont {
	display: flex;

	&__header {

	}

	&__flex-row {
		flex-direction: row;
		flex-wrap: wrap;
	}

	&__flex-column {
		flex-direction: column;
		flex-wrap: wrap;
	}

}

.row {
	padding: 10px 20px;
	border: 2px solid $lfade;
	border-left: none;
	border-right: none;
	border-top: none;
}

.column {
	flex: 1;
	border-radius: 5px;

	&__half {
		flex: 0.5
	}

	&__double {
		flex: 2;
	}

	&__flex-row {
		flex-direction: row;
		flex-wrap: wrap;
	}

	&__flex-column {
		flex-direction: column;
		flex-wrap: wrap;
	}

	&__half-width {

		@include phone {
			width: 100%;
			flex-basis: 100%;
		}

		@include desktop {
			width: 50%;
			flex-basis: 50%;
		}
	}

	&--border {
		border: 2px solid $lfade;
	}

	&--space-between {
		justify-content: space-between;
	}

	&--rev-hover {
		opacity: 0;

		&:hover {
			opacity: 1;
		}
	}

	&--img {

		img { 
			width: 100%;
		}
		
	}

	&--nest {
		margin: 5px;
		background: $white;
		padding: 20px;
		flex: 1;
	}

	&--nest-v {
		padding: 15px 0;
		flex: 1;
	}

	&--spacing-r {
		margin-right: 15px;
	}

	&--spacing-u {
		margin-top: 15px;
	}

	&--spacing-d {
		margin-bottom: 15px;
	}

	i {
		font-size: 14px;
	}
}

.badge {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 500;
	line-height: 1;
	color: $dark;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: $blue;
	border-radius: 10px;

	&:active {

	}

	&--outline {
		background-color: transparent;
	}

	&--blue {
		color: $blue;
		border: 1px solid $blue;
	}

	&--large {
		font-weight: 500;
		font-size: 24px;
		border-radius: 50px;
		padding: 7px 12px;
	}

	&--text-large {
		font-weight: 400;
		font-size: 24px;
		border-radius: 50px;
		padding: 5px 10px;
		color: $white;
	}

	&--text {
		margin-left: 10px;
		color: $lwhite;
		font-weight: 400;
		font-size: 14px;
	}

}

label {
	font-size: 14px;
	color: #BAC3CC;
}

.form-control {
	border: 1px solid #D2DCE6;
	box-shadow: none;
	border-radius: 5px;
}

.btn {
	padding: 8px 15px;
	font-size: 14px;
	border-radius: 20px;
	border: 2px solid transparent;
	min-width: 150px;
	text-align: left;
	position: relative;
	color: $lwhite;

	@include animation(all,0.25s,linear)

	&.active {
		background-color: $dark;
		border-color: $dark;
		color: $white;
	}

	&:hover {
		background-color: $blue;
		border-color: $blue;
		color: $dark;

	}

	&:focus {
		outline: none;
	}

	&--icon {

		&-tick:after {
			content: "\E876";
		}

		&-cross:after {
			content: "\E14C";
		}

		&:after {
			font-family: 'Material Icons';
			float: right;
			content: inherit;
    		font-size: 20px;
    		line-height: 1;
		}

	}

	&--choice {
		border-color: #F2F5F5;
		background-color: #F2F5F5;
		color: #8B9299;
		margin-right: 10px;

		&:hover {
			color: $white;
			background-color: $dark;
			border-color: $dark;
			outline: none;
		}
	}

	&--invite {
		background-color: #6522FF;
		border-color: #6522FF;
		color: $white;

		&:hover {
			background-color: #6522FF;
			border-color: #6522FF;
			color: $white;
		}

		&:focus {
			color: $white;
		}
	}

	&--gold {
		background-color: $gold;
		border-color: $gold;
		color: $white;

		&:hover {
			background-color: $dark;
			border-color: $dark;
			color: $white;
		}
	}

	&--gold-o {
		border-color: $gold;
		color: $gold;

		&:hover {
			background-color: $gold;
			border-color: $gold;
			color: $white;
		}
	}

	&--rose-o {
		border-color: $rose;
		color: $rose;

		&:hover {
			background-color: $rose;
			border-color: $rose;
			color: $white;
		}
	}

	&--ghost {
		background-color: $mfade;
		border-color: $mfade;
		color: $white;
	}

	&--ghost-o {
		background-color: transparent;
		border-color: $mfade;
		color: $mfade;
	}

	&--outline {
		border-width: 2px;
		background-color: transparent;
	}

	&--m-b {
		margin-bottom: 10px;
	}

}

/*

 This file is part of the ZippyUI Framework

 Copyright (c) 2011 ZippyUI.com

 All rights reserved to zippyui.com
 This software cannot be used/copied/distributed without the express permission from staff at zippyui.com

 */
.date-picker {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.date-picker,
.date-picker * {
  box-sizing: border-box;
}
.date-picker .dp-footer {
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.date-picker .dp-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.date-picker .dp-table {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.date-picker .dp-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.date-picker .dp-cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.date-picker .dp-nav-table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}
.date-picker .dp-nav-table .dp-cell {
  -webkit-box-flex: 7;
  -webkit-flex: 7;
      -ms-flex: 7;
          flex: 7;
}
.date-picker .dp-nav-table .dp-nav-cell {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.date-picker {
  overflow: hidden;
  background: #fff;
  font-size: 14px;
  width: 100%;
  height: 100%;
  border: 1px solid #a8a8a8;
}
.date-picker .dp-table {
  border-color: #a8a8a8;
}
.date-picker .dp-table .dp-row {
  border-top: 1px solid #a8a8a8;
}
.date-picker .dp-table .dp-row:last-child {
  border-bottom: 1px solid #a8a8a8;
}
.date-picker .dp-table .dp-cell {
  cursor: pointer;
  padding: 5px;
  background: inherit;
}
.date-picker .dp-table .dp-cell:not(:first-child) {
  border-left: 1px solid #a8a8a8;
}
.date-picker .dp-table .dp-cell.dp-prev,
.date-picker .dp-table .dp-cell.dp-next {
  color: #5c5c5c;
  background: inherit;
}
.date-picker .dp-table .dp-cell.dp-in-range {
  background: #e2f0ff;
}
.date-picker .dp-table .dp-cell:hover {
  color: inherit;
  font-weight: inherit;
  background: #eee;
}
.date-picker .dp-table .dp-cell.dp-disabled {
  cursor: default;
  color: #adadad;
  background: inherit;
}
.date-picker .dp-table .dp-cell.dp-value {
  color: #000;
  font-weight: bold;
  background: #eee;
}
.date-picker .dp-table .dp-cell.dp-current {
  color: #2e99eb;
  background: inherit;
}
.date-picker .dp-table .dp-cell.dp-in-range.dp-current,
.date-picker .dp-table .dp-cell.dp-in-range.dp-value {
  background: #e2f0ff;
}
.date-picker .dp-table .dp-cell.dp-month {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.date-picker .dp-table .dp-cell.dp-week-day-name {
  font-weight: bold;
  cursor: default;
  background: inherit;
}
.date-picker .dp-footer {
  padding: 3px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-width: 0px;
}
.date-picker .dp-footer .dp-footer-selected,
.date-picker .dp-footer .dp-footer-today {
  padding: 5px 15px;
  border-width: 1px;
  cursor: pointer;
}
.date-picker .dp-body {
  overflow: hidden;
}
.date-picker .dp-nav-view,
.date-picker .dp-nav-cell,
.date-picker .dp-week-day-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.date-picker .dp-nav-view,
.date-picker .dp-nav-cell {
  cursor: pointer;
}
.date-picker .dp-nav-cell {
  background: inherit;
}
.date-picker .dp-nav-cell:hover {
  background: #eee;
}
.date-picker .dp-nav-view {
  background: inherit;
}
.date-picker .dp-nav-view:hover {
  background: #eee;
}
.date-picker .dp-nav-table .dp-cell {
  border-top-width: 0px;
  border-bottom-width: 0px;
  padding: 8px;
  font-weight: bold;
}
.date-picker .dp-decade-view,
.date-picker .dp-year-view,
.date-picker .dp-month-view {
  touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
