html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background: #F2F5F5 url("img/pattern.png");
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased; }

a:hover {
  cursor: pointer; }

.login {
  width: 300px;
  margin: 0 auto;
  background-color: #FFFFFF; }

.img-max {
  width: 100%; }

.sub {
  color: #BAC3CC; }

.dashboard__header {
  background: #FFFFFF;
  padding: 30px 0;
  text-align: center;
  margin-bottom: 5px; }

.dashboard__content {
  display: flex;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  min-height: 250px;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch; }

.dashboard-grid {
  display: flex;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  min-height: 250px;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch; }
  .dashboard-grid__column {
    flex: 1;
    display: flex; }
  .dashboard-grid__column-half {
    width: 50%;
    display: flex; }
  .dashboard-grid__column-grid {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .dashboard-grid__image {
    position: relative;
    overflow: hidden; }
    .dashboard-grid__image img {
      width: 100%; }
  .dashboard-grid--nest {
    background-color: #FFFFFF;
    margin: 5px;
    padding: 20px;
    flex: 1; }
  .dashboard-grid--dark {
    background-color: #233332;
    color: #FFFFFF; }

.view {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  height: 100%; }
  .view--white {
    background-color: #FFFFFF; }

.guest {
  display: flex; }
  .guest__column {
    flex: 1; }
  .guest--column {
    flex-direction: column; }
  .guest__edit {
    text-align: right; }
    .guest__edit a {
      color: #B0BEC5;
      margin-left: 10px; }

.event__title {
  margin-top: 0; }

.event__single {
  border: 2px solid #F2F5F5;
  border-radius: 5px; }
  .event__single.active {
    border-color: #D5BF8C; }
  .event__single.not {
    border-color: #FDCDD3; }

.event__attending-icon {
  text-align: right;
  color: #D5BF8C; }
  .event__attending-icon i {
    font-size: 24px !important; }

.event__nattending-icon {
  text-align: right;
  color: #FF7D7D; }
  .event__nattending-icon i {
    font-size: 24px !important; }

.event--attending {
  color: #D5BF8C; }

.event--nattending {
  color: #FF7D7D; }

.cont {
  display: flex; }
  .cont__flex-row {
    flex-direction: row;
    flex-wrap: wrap; }
  .cont__flex-column {
    flex-direction: column;
    flex-wrap: wrap; }

.row {
  padding: 10px 20px;
  border: 2px solid #F2F5F5;
  border-left: none;
  border-right: none;
  border-top: none; }

.column {
  flex: 1;
  border-radius: 5px; }
  .column__half {
    flex: 0.5; }
  .column__double {
    flex: 2; }
  .column__flex-row {
    flex-direction: row;
    flex-wrap: wrap; }
  .column__flex-column {
    flex-direction: column;
    flex-wrap: wrap; }
  @media (min-width: 320px) and (max-width: 767px) {
    .column__half-width {
      width: 100%;
      flex-basis: 100%; } }
  @media (min-width: 1024px) {
    .column__half-width {
      width: 50%;
      flex-basis: 50%; } }
  .column--border {
    border: 2px solid #F2F5F5; }
  .column--space-between {
    justify-content: space-between; }
  .column--rev-hover {
    opacity: 0; }
    .column--rev-hover:hover {
      opacity: 1; }
  .column--img img {
    width: 100%; }
  .column--nest {
    margin: 5px;
    background: #FFFFFF;
    padding: 20px;
    flex: 1; }
  .column--nest-v {
    padding: 15px 0;
    flex: 1; }
  .column i {
    font-size: 14px; }

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  color: #233332;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #5DBBFD;
  border-radius: 10px; }
  .badge--outline {
    background-color: transparent; }
  .badge--blue {
    color: #5DBBFD;
    border: 1px solid #5DBBFD; }
  .badge--large {
    font-weight: 500;
    font-size: 24px;
    border-radius: 50px;
    padding: 7px 12px; }
  .badge--text-large {
    font-weight: 400;
    font-size: 24px;
    border-radius: 50px;
    padding: 5px 10px;
    color: #FFFFFF; }
  .badge--text {
    margin-left: 10px;
    color: #B0BEC5;
    font-weight: 400;
    font-size: 14px; }

label {
  font-size: 14px;
  color: #BAC3CC; }

.form-control {
  border: 1px solid #D2DCE6;
  box-shadow: none;
  border-radius: 5px; }

.btn {
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 20px;
  border: 1px solid transparent;
  min-width: 150px;
  text-align: left;
  position: relative;
  color: #B0BEC5;
  webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear; }
  .btn.active {
    background-color: #233332;
    border-color: #233332;
    color: #FFFFFF; }
  .btn:hover {
    background-color: #5DBBFD;
    border-color: #5DBBFD;
    color: #233332; }
  .btn:focus {
    outline: none; }
  .btn--icon-tick:after {
    content: "\E876"; }
  .btn--icon-cross:after {
    content: "\E14C"; }
  .btn--icon:after {
    font-family: 'Material Icons';
    float: right;
    content: inherit;
    font-size: 20px;
    line-height: 1; }
  .btn--invite {
    background-color: #6522FF;
    border-color: #6522FF;
    color: #FFFFFF; }
    .btn--invite:hover {
      background-color: #6522FF;
      border-color: #6522FF;
      color: #FFFFFF; }
    .btn--invite:focus {
      color: #FFFFFF; }
  .btn--gold {
    background-color: #D5BF8C;
    border-color: #D5BF8C;
    color: #FFFFFF; }
    .btn--gold:hover {
      background-color: #233332;
      border-color: #233332;
      color: #FFFFFF; }
  .btn--gold-o {
    border-color: #D5BF8C;
    color: #D5BF8C; }
    .btn--gold-o:hover {
      background-color: #D5BF8C;
      border-color: #D5BF8C;
      color: #FFFFFF; }
  .btn--rose-o {
    border-color: #FDCDD3;
    color: #FDCDD3; }
    .btn--rose-o:hover {
      background-color: #FDCDD3;
      border-color: #FDCDD3;
      color: #FFFFFF; }
  .btn--ghost {
    background-color: #BAC3CC;
    border-color: #BAC3CC;
    color: #FFFFFF; }
  .btn--ghost-o {
    background-color: transparent;
    border-color: #BAC3CC;
    color: #BAC3CC; }
  .btn--outline {
    border-width: 2px;
    background-color: transparent; }
  .btn--m-b {
    margin-bottom: 10px; }

/*

 This file is part of the ZippyUI Framework

 Copyright (c) 2011 ZippyUI.com

 All rights reserved to zippyui.com
 This software cannot be used/copied/distributed without the express permission from staff at zippyui.com

 */
.date-picker {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

.date-picker,
.date-picker * {
  box-sizing: border-box; }

.date-picker .dp-footer {
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.date-picker .dp-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.date-picker .dp-table {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.date-picker .dp-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.date-picker .dp-cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.date-picker .dp-nav-table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%; }

.date-picker .dp-nav-table .dp-cell {
  -webkit-box-flex: 7;
  -webkit-flex: 7;
  -ms-flex: 7;
  flex: 7; }

.date-picker .dp-nav-table .dp-nav-cell {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.date-picker {
  overflow: hidden;
  background: #fff;
  font-size: 14px;
  width: 100%;
  height: 100%;
  border: 1px solid #a8a8a8; }

.date-picker .dp-table {
  border-color: #a8a8a8; }

.date-picker .dp-table .dp-row {
  border-top: 1px solid #a8a8a8; }

.date-picker .dp-table .dp-row:last-child {
  border-bottom: 1px solid #a8a8a8; }

.date-picker .dp-table .dp-cell {
  cursor: pointer;
  padding: 5px;
  background: inherit; }

.date-picker .dp-table .dp-cell:not(:first-child) {
  border-left: 1px solid #a8a8a8; }

.date-picker .dp-table .dp-cell.dp-prev,
.date-picker .dp-table .dp-cell.dp-next {
  color: #5c5c5c;
  background: inherit; }

.date-picker .dp-table .dp-cell.dp-in-range {
  background: #e2f0ff; }

.date-picker .dp-table .dp-cell:hover {
  color: inherit;
  font-weight: inherit;
  background: #eee; }

.date-picker .dp-table .dp-cell.dp-disabled {
  cursor: default;
  color: #adadad;
  background: inherit; }

.date-picker .dp-table .dp-cell.dp-value {
  color: #000;
  font-weight: bold;
  background: #eee; }

.date-picker .dp-table .dp-cell.dp-current {
  color: #2e99eb;
  background: inherit; }

.date-picker .dp-table .dp-cell.dp-in-range.dp-current,
.date-picker .dp-table .dp-cell.dp-in-range.dp-value {
  background: #e2f0ff; }

.date-picker .dp-table .dp-cell.dp-month {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.date-picker .dp-table .dp-cell.dp-week-day-name {
  font-weight: bold;
  cursor: default;
  background: inherit; }

.date-picker .dp-footer {
  padding: 3px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top-width: 0px; }

.date-picker .dp-footer .dp-footer-selected,
.date-picker .dp-footer .dp-footer-today {
  padding: 5px 15px;
  border-width: 1px;
  cursor: pointer; }

.date-picker .dp-body {
  overflow: hidden; }

.date-picker .dp-nav-view,
.date-picker .dp-nav-cell,
.date-picker .dp-week-day-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.date-picker .dp-nav-view,
.date-picker .dp-nav-cell {
  cursor: pointer; }

.date-picker .dp-nav-cell {
  background: inherit; }

.date-picker .dp-nav-cell:hover {
  background: #eee; }

.date-picker .dp-nav-view {
  background: inherit; }

.date-picker .dp-nav-view:hover {
  background: #eee; }

.date-picker .dp-nav-table .dp-cell {
  border-top-width: 0px;
  border-bottom-width: 0px;
  padding: 8px;
  font-weight: bold; }

.date-picker .dp-decade-view,
.date-picker .dp-year-view,
.date-picker .dp-month-view {
  touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
