html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background: #ECEFF1 url("img/pattern.png");
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased; }

.dashboard__header {
  background: #FFFFFF;
  padding: 30px 0;
  text-align: center;
  margin-bottom: 5px; }

.dashboard__content {
  display: flex;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  min-height: 250px;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch; }

.dashboard-grid {
  display: flex;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  min-height: 250px;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch; }
  .dashboard-grid__column {
    flex: 1;
    display: flex; }
  .dashboard-grid__column-half {
    width: 50%;
    display: flex; }
  .dashboard-grid__column-grid {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .dashboard-grid__image {
    position: relative;
    overflow: hidden; }
    .dashboard-grid__image img {
      width: 100%; }
  .dashboard-grid--nest {
    background-color: #FFFFFF;
    margin: 5px;
    padding: 20px;
    flex: 1; }
  .dashboard-grid--dark {
    background-color: #233332;
    color: #FFFFFF; }

.guest {
  display: flex; }
  .guest__column {
    flex: 1; }
  .guest__container {
    display: flex; }
  .guest--column {
    flex-direction: column; }

.view {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  height: 100%; }
  .view__event {
    border: 1px solid #ECEFF1;
    display: flex; }
  .view--white {
    background-color: #FFFFFF; }

.row {
  padding: 10px 20px;
  border: 1px solid #EFEFEF;
  border-left: none;
  border-right: none; }

.column {
  flex: 1; }
  .column__half {
    flex: 0.5; }
  .column__double {
    flex: 2; }
  .column__flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .column__flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
  .column--space-between {
    justify-content: space-between; }
  .column--img img {
    width: 100%; }
  .column--nest {
    margin: 5px;
    background: #FFFFFF;
    padding: 20px;
    flex: 1; }

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  color: #233332;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #5DBBFD;
  border-radius: 10px; }
  .badge--outline {
    background-color: transparent; }
  .badge--blue {
    color: #5DBBFD;
    border: 1px solid #5DBBFD; }
  .badge--large {
    font-weight: 500;
    font-size: 24px;
    border-radius: 50px;
    padding: 7px 12px; }
  .badge--text-large {
    font-weight: 400;
    font-size: 24px;
    border-radius: 50px;
    padding: 5px 10px;
    color: #FFFFFF; }
  .badge--text {
    margin-left: 10px;
    color: #B0BEC5;
    font-weight: 400;
    font-size: 14px; }

.btn {
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 20px;
  border: 1px solid transparent;
  min-width: 150px;
  text-align: left;
  position: relative;
  color: #B0BEC5;
  webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear; }
  .btn:hover {
    background-color: #5DBBFD;
    border-color: #5DBBFD;
    color: #233332; }
  .btn--outline {
    border-color: #B0BEC5;
    background-color: transparent; }
